@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    background: url('/bg.jpg');
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 100vh;
}

.container .header {
    background-color: #031323;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
}

.container .header h2 {
    margin: 10px 0px 30px 0px;
    color: white;
}

.container .header input {
    width: 40%;
    background-color: #031323;
    border: 1px solid rgb(252, 0, 0);
    transition: .3s all;
    border-radius: 5px;
    color: white;
    padding: 15px 2px 15px 0px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.num__input::-webkit-input-placeholder {
    padding-right: 5px;
    font-size: 30px;
    font-style: italic;
    padding: 10px 0px 0px 0px;
}

.num__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
                    
.container .header .num__input:focus {
    outline: 0;
    border-color: rgb(0, 255, 234);
    transition: .5s all;
}

.container .header .num__input:focus::placeholder {
    color: transparent;
}

.container .header .btn__convert {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 10%;
    padding: 5px 40px;
    margin-bottom: 10px ;
    font-family: 'Inter', sans-serif;
    border: 1px;
    border-radius: 5px;
    color: black;
    background-color: white
}

.container .header button:hover {
    cursor:pointer;
    background-color: #09a8cf;
    color: white;
    transition: .3s all;
}

.hero{
    width: 100%;
    min-height: 50vh;
    background-color: #1f2937 ;
    padding: 25px 15px;
    text-align: center;
}

.hero .length {
    background-color:#273549;  
    height: 13vh;
}

.hero h5 {
    text-align: center;
    padding: 20px 0px;
    color: #a1a1d9;
    font-size: 1em;
}

.hero p {
    color: rgba(255, 255, 255, 0.755);
    font-size: 12px;
}

.hero .volume {
    background-color:#273549;    
    height: 13vh;
    margin: 15px 0px;

}

.hero .mass {
    background-color:#273549;    
    height: 13vh;
}